<ion-header translucent>
  <ion-toolbar>
    <ion-title>Historial de ventas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-label>Cliente</ion-label>
    <ion-input type="text" [(ngModel)]="dataClient.data.nombre_cte"></ion-input>
    <ion-label>Direccion</ion-label>
    <ion-input type="text" [(ngModel)]="dataClient.data.direccion"></ion-input>
    <ion-label>Comunidad</ion-label>
    <ion-input type="text" [(ngModel)]="dataClient.data.comunidad"></ion-input>
    <ion-label>Telefono</ion-label>
    <ion-input type="text" [(ngModel)]="dataClient.data.telefono"></ion-input>
    <ion-label>Ruta</ion-label>
    <ion-input type="text" [(ngModel)]="dataClient.data.comentario"></ion-input>
  </ion-card>

  <ion-button (click)="editCliente()">Editar Cliente</ion-button>

</ion-content>