<ion-header translucent>
    <ion-toolbar>
      <ion-title>Historial de ventas</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">X</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  
<ion-content>
    <ion-grid class="border"  *ngFor="let venta of ventasDetalle">
      <ion-row >
        <ion-col (click)="getId(venta)">
          <ion-item>
            Fecha: {{venta.fecha_add}}
          </ion-item>
          <ion-item>
            Id. Venta: {{venta.idVentaRepartidor}}
          </ion-item>
          <ion-item>
            Cliente: {{venta.id_client}}
          </ion-item>
          <ion-item>
            Total venta: ${{venta.total_pago}}
          </ion-item>  
          <ion-item>
            Tipo de pago: {{venta.tipo_pago}}
          </ion-item>   
          <ion-item>
            Estatus de venta: Pagado
          </ion-item>
        </ion-col>
        <ion-item>
          <ion-button size="small" *ngIf="venta.tipo_pago === 'Crédito'" (click)="abonar(venta)">Abonos</ion-button>
        </ion-item> 
      </ion-row>    
    </ion-grid>
      
</ion-content>