<ion-header translucent>
    <ion-toolbar>
      <ion-title>Generar venta</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">X</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-text-center">
    <ion-item>
        <ion-label>Selecciona el cliente</ion-label>
        <ion-select [(ngModel)]="cliente" [compareWith]="compareWith">
            <ion-select-option *ngFor="let cliente of clientes" [value]="cliente.id_client" [selected]="cliente.id_client">
                {{cliente.nombre_cte}}
            </ion-select-option>
          </ion-select>
    </ion-item>
  <ion-row>
    <ion-col>
      Producto
    </ion-col>
    <ion-col>
      Cant T
    </ion-col>
    <ion-col>
      Cant
    </ion-col>
    <ion-col>
      Precio U
    </ion-col>
    <ion-col>
      Precio T
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let item of carrito">
    <ion-col>
      {{item.descripcion}}
    </ion-col>
    <ion-col>
      {{item.cantidad}}
    </ion-col>
    <ion-col>
      <ion-input type="number" (change)='onChangeTime(item)' [(ngModel)]="item.cantV"></ion-input>
    </ion-col>
    <ion-col>
        {{item.precio_venta_vendedor}}
    </ion-col>
    <ion-col>
      {{item.total}}
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Total ${{totalVenta}}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-item>
        <ion-label>Selecciona el tipo de pago</ion-label>
        <ion-select [(ngModel)]="pago" [compareWith]="compareWith">
            <ion-select-option [value]="efectivo">Efectivo</ion-select-option>
            <ion-select-option [value]="credito">Crédito</ion-select-option>
          </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Cantidad Pagada $</ion-label>
      <ion-input type="text" [(ngModel)]="montoPagado"></ion-input>
    </ion-item>
</ion-row>

  <ion-row>
    <ion-col class="border">
      <ion-button type="submit" (click)="generarVenta()">Generar venta</ion-button>
  </ion-col>
  </ion-row>

</ion-content>