<ion-header translucent>
    <ion-toolbar>
      <ion-title>Generar venta</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">X</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-text-center">
    <ion-item>
        <ion-label>Selecciona el cliente</ion-label>
        <ion-select [(ngModel)]="cliente" [compareWith]="compareWith">
            <ion-select-option *ngFor="let cliente of clientes" [value]="cliente.id_client" [selected]="cliente.id_client">
                {{cliente.nombre_cte}}
            </ion-select-option>
          </ion-select>
    </ion-item>

    <ion-card>
      <ion-card-content class="left" *ngFor="let item of carrito">
        <ion-label> Producto: {{item.descripcion}} </ion-label>
        <br>
        <ion-label>Precio U: {{item.precio_venta_vendedor}}</ion-label>
        <br>
        <ion-label>Cantidad: </ion-label>
        <ion-input type="number" size="small" (change)='onChangeTime(item)' [(ngModel)]="item.cantV"></ion-input>
        <br>
        <ion-label>Precio Total: {{item.total}}</ion-label>
        <br>
        <ion-button color="danger" size="small" (click)="eliminarProducto(item)">Eliminar producto</ion-button>      
      </ion-card-content>
    </ion-card>
  

      <ion-row>
        <ion-item>
          <ion-label color="red">Total Venta: </ion-label>
          <ion-input type="number" size="small" (change)='totalVentas()' [(ngModel)]="totalVenta"></ion-input>

        </ion-item>
        <ion-item>
            <ion-label>Selecciona el tipo de pago</ion-label>
            <ion-select [(ngModel)]="pago" [compareWith]="compareWith">
                <ion-select-option [value]="efectivo">Efectivo</ion-select-option>
                <ion-select-option [value]="credito">Credito</ion-select-option>
              </ion-select>
        </ion-item>
    
        <ion-item>
          <ion-label>Cantidad Pagada $</ion-label>
          <ion-input type="number" [(ngModel)]="montoPagado"></ion-input>
        </ion-item>
    </ion-row>
    
      <ion-row>
        <ion-col class="border">
          <ion-button type="submit" (click)="createPDF()">Generar venta</ion-button>
      </ion-col>
      </ion-row>

</ion-content>