<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
    </ion-refresher>
<ion-grid>

  <ion-row class="ion-text-center">
    <ion-col class="border">
       <ion-button (click)="ventas()">Ir al carrito</ion-button>
    </ion-col>
</ion-row>

  <ion-row class="ion-text-center">
     <ion-col>
       Producto
     </ion-col>
     <ion-col>
       Cant
     </ion-col>
     <ion-col>
       Precio
     </ion-col>
     <ion-col>
       
      </ion-col>
  </ion-row>
  <ion-row *ngFor="let item of items" class="ion-text-center">
      <ion-col >
        {{item.descripcion}}
      </ion-col>
      <ion-col>
        {{item.cantidad}}
      </ion-col>
      <ion-col>
        ${{item.precio_venta_vendedor}}
      </ion-col>
      <ion-col>
          <ion-button size="small" (click)="agregarProducto(item)">Vender</ion-button>
        </ion-col>
   </ion-row>

  
</ion-grid>
</ion-content>