<ion-header translucent>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>
      Saldo anterior: $570
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Nuevo abono:
    </ion-label>
    <ion-input>

    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Nuevo saldo:
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-button>
      Abonar
    </ion-button>
  </ion-item>



  <ion-row class="ion-text-center">
    <h2>Historial de abonos</h2>
  </ion-row>

  <ion-row class="ion-text-center">
    <ion-col>
      Fecha de compra
    </ion-col>
    <ion-col>
      Saldo anterior
    </ion-col>
    <ion-col>
      Abono $
    </ion-col>
    <ion-col>
      Nuevo saldo
    </ion-col>
 </ion-row>

 <ion-row class="ion-text-center">
  <ion-col>
    05/05/2020
  </ion-col>
  <ion-col>
    $1200
  </ion-col>
  <ion-col>
    $630
  </ion-col>
  <ion-col>
    $570
  </ion-col>
</ion-row>

<ion-row class="ion-text-center">
  <ion-col>
    12/05/2020
  </ion-col>
  <ion-col>
    $570
  </ion-col>
  <ion-col>
    $570
  </ion-col>
  <ion-col>
    $0
  </ion-col>
</ion-row>
</ion-content>